body{
	
	background:#000 url("/images/background.jpg") repeat-x;
/*	font:normal 16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;*/
	font:normal 14px/20px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color:#333333;
	padding: 0px 0 0 0;
	margin:0px
}
#background_text {
	background: url("/images/background_text.png") no-repeat center 50px;

}

img {
	margin: 0px;
	padding:0px;
	border:0px;
}
a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font:normal 30px/36px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	color:#000000;
	margin:0px;
	
}

h2 {
	padding: 20px 0 0;
	text-align: center;
}
h4 {
	margin: 10px 0 0 0;
	font:normal 22px/26px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight:lighter;
}
p {
	

	padding: 0px 0;
	margin-top: 5px;
}

#header {
	height: 126px;
	width:960px;
	background: url("/images/header.png") no-repeat left center;
	margin-top: 20px;
	margin:20px auto 0 auto;
}
#slideshow {
	padding-top:10px;
	padding-bottom: 10px;
	height: 202px;
	margin:0 auto;
}
#main_container {
	margin-left:0px;
	margin-right:0px;
	width: 670px;
	
}
#content {
	background: #dcdddf url("/images/top-shadow.jpg") repeat-x ;
}
#background_content {
	background: transparent url("/images/bottom_back.png") no-repeat center bottom;
}
#breadcrumb {
	margin-left:10px;
	margin-top:6px;
	margin-bottom:8px;
	;
}
#main_text {
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	background: #ffffff;
	min-height:384px;
	
}
#strip {
	padding-bottom:5px;
}
.inline_image {
	margin-top: 10px;
	margin-right:10px;
	margin-left: -10px;
}

.news_image {
	margin-top: 10px;
	margin-right:10px;
	margin-left: 0px;
	margin-bottom: 10px;
}
/* Sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {
	margin-left: 0px;
	margin-right: 0px;
	width:290px;
}
#side_news {
	padding-top:8px;
}
#teaser {
	float:left;
	padding-top:5px;
	width:230px;
}
#news_link {
	float:left;
	width: 37px;
	height: 49px;
}
a.more_button {
	background: url("/images/more.png") no-repeat 0 0;
	width: 37px;
	height: 49px;
	display: block;
	text-indent: -9999px;
	
}

a.more_button:hover {
	background-position: 0 -49px;
	
}
#clients_title {
	height:30px;
}
#clients {
	background: url("/images/feature/clientback.jpg") no-repeat left center;
	height:91px;
	padding-top:10px;
}
.cycle_clients {
margin-left:64px;


}
#feature {
	height:230px;
}

/* End of Sidebar
----------------------------------------------------------------------------------------------------*/
#footer {
	background: url("/images/footer.jpg") no-repeat left center;
	height:36px;
}
#sub_footer {
		color: #dddddd;
		background:transparent;
		text-align:center;
		margin-top: 10px;
		font-size: 11px;
}
/* Menu
----------------------------------------------------------------------------------------------------*/

.menu_177,
.menu_87 {
	font:normal 12px/14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color:#ffffff;
	display:inline;
	float: left;
	position: relative;
	text-align:center;
	padding-top: 7px;
	padding-bottom: 9px;
	margin:0px;
}
.menu_177:hover,
.menu_87:hover {
	background:url("/images/menu_hover.png");
	}
#top-menu {
	height: 31px;
	width:960px;
	background: url("/images/menu_back.jpg") no-repeat left center;
	margin:0px auto;
	padding:0px;
	
}

.container_16 .menu_87 {
	width:87px;
}
.container_16 .menu_177 {
	width:177px;
}
/* End of Menu
----------------------------------------------------------------------------------------------------*/

/* Flash Game
----------------------------------------------------------------------------------------------------*/
#turkey {
	height: 400px;
	width:550px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}

/* End of Flash Game
----------------------------------------------------------------------------------------------------*/
.container_16 {
	background: #fff;
}

